.input-area {
  background-color: plum;
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.imcomplete-area {
  background-color: greenyellow;
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: paleturquoise;
  width: 400px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

input {
  border: none;
  padding: 6px 16px;
  outline: none;
  border-radius: 8px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 12px;
  margin-right: 4px;
}

button:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
}

li {
  margin-right: 8px;
}
